.box{
 display: flex;
 flex-direction: column;
  padding: 10px;

  width: 195px;
  height: 190px;
  align-items: center;
  color: rgb(111, 66, 194);
 
}
.box>img{
    width: 100px;
    height: 100px;
}
.name_box{

    font-weight: 600;
}